<h2>About</h2>
<p>Santhosh Pharmacy is a leading online pharmacy committed to providing quality healthcare products with the convenience of online shopping. Located at Madurai, Tamil Nadu, India, our virtual storefront caters to customers seeking a reliable and efficient platform for their pharmaceutical needs.</p>
