<h2>Home</h2>
<p>Santhosh Pharmacy is your trusted online destination for all your pharmaceutical needs, offering a seamless and convenient way to purchase medicines from the comfort of your home. With a commitment to providing high-quality healthcare products, Santhosh Pharmacy ensures that customers have access to a wide range of prescription and over-the-counter medications.</p>
<button onclick={{action 'showMore'}} type="button">Explore</button>
{{outlet}}