{{page-title "Login"}}
<label for="username">Username: </label>
<Input name="username" @value={{this.authentication.username}} placeholder="Username" />
<button type="submit" onclick={{action 'userLogin' }}>Login</button>
{{outlet}}